<div style="background-color: #f8f8f8;">
  <div style="margin-right: 150px; margin-left: 150px;padding-top: 20px; height: 100vh;">
    <div class=" row">
      <!-- Basic Form starts -->
      <div class="col-lg-4 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title mt-3">Order Details</h4>
              <form>
                <div class="form-row mt-3">
                  <div class="col-12">
                    <div class="form-group mb-4 mt-3">
                      <span class="asterisk">*</span>
                      <input type="text" class="form-control" placeholder="Supplier Name">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <span class="asterisk">*</span>
                      <input type="text" class="form-control" placeholder="Location">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <input type="number" class="form-control" placeholder="Supplier Invoice Number">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <textarea id="basic-form-9" rows="3" class="form-control" [(ngModel)]="textAreaValue" maxlength="200"
                    placeholder="Notes" [ngModelOptions]="{standalone: true}"></textarea>
                  <div class="textAreaStyling">{{textAreaValueLength()}}/{{200}}</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Basic Form ends -->
      <!-- Hidden Label starts -->
      <div class="col-lg-8 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title mt-3">Products</h4>
              <p style="color: gray; font-size: 14px;">
                <span class="bi bi-exclamation-circle"></span>
                Products Qty, the average product cost and the latest buying price are updated after completing the
                purchased order.
              </p>
              <div class="col-6">
                <div>
                  <span class="bi bi-search"
                    style="position: absolute;margin-left: 6px; margin-top: 7px;color: gray;z-index: 10000;"></span>
                  <ng-select [items]="items" (change)="onSelectChange($event)" bindValue="id"
                    bindLabel="concatenatedValue" placeholder="Type Variant Name or SKU">
                  </ng-select>
                </div>

              </div>
              <div *ngIf="!hasOrder" class="col-12" style="    text-align: center;
              margin: 50px 0px 10px 0px;">
                <img src="../assets/searchIcon.png" />
                <div style="color: gray; font-size: 14px;">Search for products that you would like to use in your
                  purchase order.</div>
              </div>
              <div *ngIf="hasOrder" style="border: 1px solid #d2d2d2; margin-top: 20px;">
                <div class="row"
                  style="border-bottom: 1px solid #d2d2d2;margin-left: 0px; margin-right: 0px;  background-color: #f8f8f8;">
                  <div class="col-1"></div>
                  <div class="col-3" style="padding: 10px;
                  font-size: 18px;
                  font-weight: 500;">
                    <span>Product Name/SKU</span>
                  </div>
                  <div class="col-2" style="padding: 10px;
                  font-size: 18px;
                  font-weight: 500">
                    <span>New QTY</span>
                  </div>
                  <div class="col-2" style="padding: 10px;
                  font-size: 18px;
                  font-weight: 500">
                    <span>New Cost</span><span style="font-weight: 400;font-size: 14px;color: #706767;"> (Tax
                      Exclusive)</span>
                  </div>
                  <div class="col-3" style="padding: 10px;
                  font-size: 18px;
                  font-weight: 500">
                    <span>Tax Code</span>
                  </div>
                  <div class="col-1"></div>
                </div>


                <div *ngFor="let row of addDynamicRow?.controls; let index = index;" style="padding-top: 5px;"
                  [ngClass]="{ 'even': index % 2 === 1, 'borderBottom' : attachBorderBottomToRow(index, addDynamicRow?.controls) }">
                  <div class="row">
                    <div class="col-1">
                      <i (click)="toggleItem(row)" class="fa fa-angle-right" aria-hidden="true" style="font-size: 30px;
                          color: #d2d2d2;
                          margin-left: 20px;
                          margin-top: 5px;"></i>
                    </div>
                    <div class="col-3" style="padding-left: 20px;">
                      <div>
                        {{row.get('name')?.value}}
                      </div>
                      <div style="color: gray; font-size: 14px;">
                        {{row.get('id')?.value}}
                      </div>
                    </div>
                    <div class="col-2">
                      <input type="number" class="form-control"
                        [formControl]="convertToFormControl(row.get('quantity'))">
                    </div>
                    <div class="col-2">
                      <input type="number" class="form-control" [formControl]="convertToFormControl(row.get('cost'))">
                    </div>
                    <div class="col-3">
                      <input type="number" class="form-control"
                        [formControl]="convertToFormControl(row.get('taxCode'))">
                    </div>
                    <div class="col-1">
                      <i (click)="onRemoveRow(index)" class='fas fa-trash-alt' style="font-size: 30px;
                      font-weight: 300;
                      margin-top: 5%;
                      color: gray;"></i>
                    </div>
                  </div>
                  <div *ngIf="getExpandedValue(row)">
                    expanded
                  </div>

                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hidden Label ends -->
    </div>
  </div>
</div>