.form-group {
    position: relative;
}

.asterisk {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: red;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    /* Firefox */
}

.searchbar {
    padding-left: 25px;
}


.textAreaStyling {
    margin-bottom: 10px;
    color: gray;
    text-align: right;
}

::ng-deep .searchBar.ng-select .ng-select-container .ng-value-container .ng-input>input {
    margin-left: 20px !important;
}

::ng-deep .searchBar.ng-select.ng-select-single .ng-select-container .ng-value-container,
.searchBar.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    margin-left: 20px !important;
}

::ng-deep .searchBar.ng-select .ng-arrow-wrapper {
    display: none;
}


.even {
    background-color: #f8f8f8;
}

.borderBottom {
    border-bottom: 1px solid #d2d2d2;
}

.subHeading {
    color: gray;
    font-size: 14px;
}

.lightGrayTopBorder {
    border-top: 1px solid #d2d2d2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    color: white;
    text-align: right;
    padding: 20px;
}

.p-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.mr-15 {
    margin-right: 15px;
}

.pointer-cursor {
    cursor: pointer;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.font-weight-500 {
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #1b8654;
    border-color: #1b8654;
}

.gray-color {
    color: gray;
}

.creditAmountStyle {
    text-align: right;
    font-weight: 500;
    color: #d15d56;
}