.form-group {
    position: relative;
}

.asterisk {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: red;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray;
    opacity: 1;
    /* Firefox */
}

.searchbar {
    padding-left: 25px;
}


.textAreaStyling {
    margin-bottom: 10px;
    color: gray;
    text-align: right;
}

::ng-deep .searchBar.ng-select .ng-select-container .ng-value-container .ng-input>input {
    margin-left: 20px !important;
}

::ng-deep .searchBar.ng-select.ng-select-single .ng-select-container .ng-value-container,
.searchBar.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    margin-left: 20px !important;
}

::ng-deep .searchBar.ng-select .ng-arrow-wrapper {
    display: none;
}

.card-fixed-height {
    overflow: scroll;
    height: 80vh;
}

.contentStyle {
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 20px;
    height: 100vh;
}

.even {
    background-color: #f8f8f8;
}

.lightBackgroud {
    background-color: #f8f8f8;
}

.searchBarIcon {
    position: absolute;
    margin-left: 6px;
    margin-top: 7px;
    color: gray;
    z-index: 10000;
}

.orderHeaderRow {
    border-bottom: 1px solid #d2d2d2;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #f8f8f8;
}

.orderHeaderColumn {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

.orderHeaderSubText {
    font-weight: 400;
    font-size: 14px;
    color: #706767;
}

.orderMainBox {
    border: 1px solid #d2d2d2;
    margin-top: 20px;
}

.no-order-alignment {
    text-align: center;
    margin: 50px 0px 10px 0px;
}

.toggleIcon {
    font-size: 30px;
    color: #d2d2d2;
    margin-left: 20px;
    margin-top: 5px;
}

.totalToggleIcon {
    font-size: 30px;
    color: #d2d2d2;
    margin-left: 20px;
}

.totalSectionPadding {
    padding-top: 10px;
    padding-bottom: 5px;
}

.totalSectionExpandedIcon {
    font-size: 30px;
    color: #d2d2d2;
    margin-left: 20px;
}

.expandedDivStyles {
    padding-top: 10px;
    padding-bottom: 5px;
}

.totalSectionHeading {
    padding-left: 20px;
    margin-top: 2px;
}

.p-t-5 {
    padding-top: 5px;
}

.pl-20 {
    padding-left: 20px;
}

.deleteRowClass {
    font-size: 30px;
    font-weight: 300;
    margin-top: 5%;
    color: gray;
}

.content-text {
    color: gray;
    font-size: 14px;
}

.paymentDiv {
    background-color: #f8f8f8;
    border-top: 1px solid #d2d2d2;
}

.borderBottom {
    border-bottom: 1px solid #d2d2d2;
}

.subHeading {
    color: gray;
    font-size: 14px;
}

.lightGrayTopBorder {
    border-top: 1px solid #d2d2d2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 80px;
    color: white;
    text-align: right;
    padding: 20px;
}

.p-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.mr-15 {
    margin-right: 15px;
}

.pointer-cursor {
    cursor: pointer;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.font-weight-500 {
    font-weight: 500;
}

.form-check-input:checked {
    background-color: #1b8654;
    border-color: #1b8654;
}

.gray-color {
    color: gray;
}

.gray-background {
    background-color: gray;
}

.creditAmountStyle {
    text-align: right;
    font-weight: 500;
    color: #d15d56;
}