<div class="lightBackgroud">
  <div [formGroup]="myForm" class="contentStyle">
    <div class=" row">
      <div class="col-lg-4 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title mt-3">Order Details</h4>
              <form>
                <div class="form-row mt-3">
                  <div class="col-12">
                    <div class="form-group mb-4 mt-3">
                      <span class="asterisk">*</span>
                      <input type="text" class="form-control" placeholder="Supplier Name"
                        [formControl]="convertToFormControl(this.myForm.get('supplierName'))">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <span class="asterisk">*</span>
                      <input type="text" class="form-control" placeholder="Location"
                        [formControl]="convertToFormControl(this.myForm.get('supplierLocation'))">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group mb-4">
                      <input type="number" class="form-control" placeholder="Supplier Invoice Number"
                        [formControl]="convertToFormControl(this.myForm.get('supplierInvoice'))">
                    </div>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <textarea id="basic-form-9" rows="3" class="form-control" [(ngModel)]="textAreaValue" maxlength="200"
                    placeholder="Notes" [ngModelOptions]="{standalone: true}"></textarea>
                  <div class="textAreaStyling">{{textAreaValueLength()}}/{{200}}</div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-12">
        <div class="card card-fixed-height">
          <div class="card-content">
            <div class="card-body">
              <h4 class="card-title mt-3">Products</h4>
              <p class="content-text">
                <span class="bi bi-exclamation-circle"></span>
                Products Qty, the average product cost and the latest buying price are updated after completing the
                purchased order.
              </p>
              <div class="col-6">
                <div>
                  <span class="bi bi-search searchBarIcon"></span>
                  <ng-select (change)="onSelectChange($event)" class="searchBar" placeholder="Type Variant Name or SKU">
                    <ng-option [value]="item" *ngFor="let item of itemsArray"> {{item.id + ' ' + item.name}}</ng-option>
                  </ng-select>
                </div>

              </div>
              <div *ngIf="!hasOrder" class="col-12 no-order-alignment">
                <img src="../assets/searchIcon.png" />
                <div class="content-text">Search for products that you would like to use in your
                  purchase order.</div>
              </div>
              <div *ngIf="hasOrder" class="orderMainBox">
                <div class="row orderHeaderRow">
                  <div class="col-1"></div>
                  <div class="col-3 orderHeaderColumn">
                    <span>Product Name/SKU</span>
                  </div>
                  <div class="col-2 orderHeaderColumn">
                    <span>New QTY</span>
                  </div>
                  <div class="col-2 orderHeaderColumn">
                    <span>New Cost</span><span class="orderHeaderSubText"> (Tax
                      Exclusive)</span>
                  </div>
                  <div class="col-3 orderHeaderColumn">
                    <span>Tax Code</span>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div *ngFor="let row of addDynamicRow?.controls; let index = index;" class="p-t-5"
                  [ngClass]="{ 'even': index % 2 === 1, 'borderBottom' : attachBorderBottomToRow(index, addDynamicRow.controls.length) }">
                  <div class="row">
                    <div class="col-1">
                      <i *ngIf="!getRowExpandedValue(row)" (click)="toggleItem(row)"
                        class="fa fa-angle-right toggleIcon" aria-hidden="true"></i>
                      <i *ngIf="getRowExpandedValue(row)" (click)="toggleItem(row)" class="fa fa-angle-down toggleIcon"
                        aria-hidden="true"></i>
                    </div>
                    <div class="col-3 pl-20">
                      <div>
                        {{row.get('name')?.value}}
                      </div>
                      <div class="subHeading">
                        {{row.get('id')?.value}}
                      </div>
                    </div>
                    <div class="col-2">
                      <input type="number" class="form-control"
                        [formControl]="convertToFormControl(row.get('quantity'))">
                    </div>
                    <div class="col-2">
                      <input type="number" class="form-control" [formControl]="convertToFormControl(row.get('cost'))">
                    </div>
                    <div class="col-3">
                      <ng-select [items]="taxCodes" bindValue="id" bindLabel="name" [clearable]="false"
                        [formControl]="convertToFormControl(row.get('taxCode'))">
                      </ng-select>
                    </div>
                    <div class="col-1">
                      <i (click)="onRemoveRow(index)" class='fas fa-trash-alt deleteRowClass'></i>
                    </div>
                  </div>
                  <div *ngIf="getRowExpandedValue(row)" class="mt-2">
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-3">
                        <div class="subHeading">Available Qty</div>
                        <div class="subHeading">(Available in stock)</div>
                        <div>0</div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-4">
                        <div class="subHeading">Total Cost</div>
                        <div class="subHeading">(Tax exclusive)</div>
                        <div>{{rowTotalDetails(row)}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-3">
                        <div class="subHeading">Expected Qty</div>
                        <div class="subHeading">(Total will be available)</div>
                        <div>{{rowItemsQuanity(row)}}</div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-4">
                        <div class="subHeading">Tax Amount</div>
                        <div>{{rowTaxDetails(row)}}</div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-3">
                        <div class="subHeading">Last Buy Price</div>
                        <div>0</div>
                      </div>
                      <div class="col-md-1"></div>
                      <div class="col-md-4">
                        <div class="subHeading">Total Cost</div>
                        <div class="subHeading">(Tax inclusive)</div>
                        <div>{{rowTotalWithTaxDetails(row)}}</div>
                      </div>
                    </div>
                  </div>

                </div>
                <div *ngIf="!totalSectionExpanded" class="lightGrayTopBorder totalSectionPadding">
                  <div class="row">
                    <div class="col-1">
                      <i (click)="toggleTotalSection()" class="fa fa-angle-right totalToggleIcon"
                        aria-hidden="true"></i>
                    </div>
                    <div class=" col-5 totalSectionHeading">
                      Total (Tax Inclusive)
                    </div>
                    <div class="col-6">
                      {{totalCostWithoutTax + totalTax}}
                    </div>
                  </div>
                </div>
                <div *ngIf="totalSectionExpanded" class="lightGrayTopBorder expandedDivStyles">
                  <div class="row">
                    <div class="col-1">
                      <i (click)="toggleTotalSection()" class="fa fa-angle-down totalSectionExpandedIcon"
                        aria-hidden="true"></i>
                    </div>
                    <div class=" col-5 totalSectionHeading">
                      Sub Total (Tax Exclusive)
                    </div>
                    <div class="col-6">
                      {{totalCostWithoutTax}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="totalSectionHeading col-5">
                      Total Tax
                    </div>
                    <div class="col-6">
                      + {{totalTax}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-5 lightGrayTopBorder pl-20">
                      Total (Tax Inclusive)
                    </div>
                    <div class="col-4 lightGrayTopBorder">
                      {{totalCostWithoutTax + totalTax}}
                    </div>
                  </div>
                </div>
                <div class="paymentDiv">
                  <div class="row p-t-20 p-b-20 font-weight-500 ">
                    <div class="col-1">
                    </div>
                    <div class="col-6">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input custom-radio" type="radio" name="inlineRadioOptions"
                          [ngModelOptions]="{standalone: true}" value="payNow" [(ngModel)]="paymentTime"
                          (click)="handleRadioClick('payNow')">
                        Pay Now
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input custom-radio" [(ngModel)]="paymentTime" type="radio"
                          [ngModelOptions]="{standalone: true}" name="inlineRadioOptions" value="payLater"
                          (click)="handleRadioClick('payLater')">
                        Pay Later
                      </div>

                    </div>
                  </div>
                  <div class="row p-b-20" *ngIf="paymentTime == 'payNow'">
                    <div class="col-1"></div>
                    <div class="col-4 gray-color">Payment Method</div>
                    <div class="col-4">
                      <ng-select [items]="paymentMethods" bindValue="id" bindLabel="name" placeholder="Select a Method"
                        [clearable]="false" [formControl]="convertToFormControl(this.myForm.get('paymentMethod'))">
                      </ng-select>
                    </div>
                  </div>
                  <div class="row p-b-20" *ngIf="paymentTime == 'payNow'">
                    <div class="col-1"></div>
                    <div class="col-4 gray-color">Paid Amount</div>
                    <div class="col-4">
                      <input type="number" class="form-control" placeholder="0.00"
                        [formControl]="convertToFormControl(this.myForm.get('amountPaid'))">
                    </div>
                  </div>
                  <div class="row p-b-20">
                    <div class="col-1"></div>
                    <div class="col-4 gray-color">Credit Amount</div>
                    <div class="col-4 creditAmountStyle">
                      {{totalCostWithoutTax + totalTax}}
                    </div>
                  </div>
                  <div class="row p-b-20">
                    <div class="col-1"></div>
                    <div class="col-4 gray-color">Payment Due Date</div>
                    <div class="col-4">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker"
                          [formControl]="convertToFormControl(this.myForm.get('paymentDueDate'))" />
                        <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                          type="button"></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hidden Label ends -->
    </div>
  </div>
  <div class=" footer">
    <span class="mr-15 pointer-cursor gray-color" (click)="resetForm()">Cancel</span>
    <button type="button" class="btn btn-outline-success p-50 mr-15">Save as
      Draft</button>
    <button type="button" class="btn btn-success p-50" (click)="formSubmit()"
      [disabled]="myForm.valid == false">Complete
      Order</button>
  </div>
</div>